!!!
html 
  head
    title Brandon Anzaldi
    meta(charset='utf-8')
    link(rel='alternate', type='application/rss+xml', title='RSS', href="/rss")
    link(rel='stylesheet', href='/css/gumby.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/zenburnesque.css')
    link(rel='stylesheet', href='/css/sprite.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js")
    script(src="/js/gumby.min.js")
    script(src="/js/plugins.js")
    script(src="/js/main.js")
    script(src="/js/rainbow.min.js")
  body
    .navbar(gumby-fixed="top")
      .row
        a.toggle(href="#")
          .icon-menu
        h3.four.columns.logo(style="color:white !important;")
          a(href="/") Brandon Anzaldi
        ul.eight.columns
          //- li
            //- a(href="/about") About
          li
            a(href="http://github.brandonanzaldi.com/") Github
          li
            a(href="http://simvla.brandonanzaldi.com/") Simvla
          //- li
          //-   a(href="http://github.brandonanzaldi.com/podcaster-js") Podcaster.js
    .row
      .eight.columns
        block content
      .four.columns
        .row
          .twelve.columns.image.photo
            img(src="/images/brandon.jpg")
          .twelve.columns
            p 
              |Brandon is the CPO of 
              a(href="http://uptweet.com") UpTweet
              |, a programmer, filmmaker, freelancer, student, entrepreneur, and activist. He currently resides in Southern California.
        .row
          .twelve.columns
            .row
              .two.columns
                a(href="https://twitter.com/caffeinewriter")
                  i.sprite.sprite-twitter
              .two.columns
                a(href="https://github.com/caffeinewriter")
                  i.sprite.sprite-github
              .two.columns
                a(href="/rss")
                  i.sprite.sprite-rss
              .four.columns
              .two.columns
                script(data-gittip-username='caffeinewriter', data-gittip-widget='button', src='//gttp.co/v1.js')
        br
        .row
          .six.columns
            .medium.primary.btn
              a(href="#") Categories
              div.dropdown
                ul
                  - each cat in getCategories()
                    li
                      a(href=categoryURL(cat)) #{cat}
          .five.columns
            .medium.secondary.btn
              a(href="#") Tags
              div.dropdown
                ul
                  - each tag in getTags()
                    li
                      a(href=tagURL(tag)) #{tag}