extends layout

block content
	script(type="text/javascript").
		var diff,
			hrate,
			coinsPerYear,
			htime,
			blocksPerYear,
			bcoins = 1000.0;		
			var calculateOmc = function(diff, hrate, pcomp, prate) {
			diff = document.getElementById("diff").value;
			hrate= document.getElementById("hrate").value;
			htime = diff * (Math.pow(2.0, 32) / (hrate * 1000.0));
			blocksPerYear = (365.25 * 24.0 * 60.0 * 60.0) / htime;
			coinsPerYear = bcoins * blocksPerYear;
			document.getElementById("cpd").value = (coinsPerYear / 365.25).toFixed(8);
			document.getElementById("cpm").value = (coinsPerYear / 12).toFixed(8);
			document.getElementById("cpy").value = coinsPerYear.toFixed(8);
		};
	h2 Omnicoin Calculator
	p.
		This calculator is provided free of charge to gain a rough approximation 
		of how many Omnicoins you can earn within a given time period. This is 
		an estimation, and requires the current difficulty to function. This can 
		be obtained from typing <kbd>getinfo</kbd> into the debug console (Help 
		-&gt; Debug Window -&gt; Console) and inputting the value for "difficulty", 
		or even from the statistic page of a pool.
	br
	table
		tr
			td
				label(for="diff") Difficulty:
			td
				input(type="text", name="diff")#diff
		tr
			td
				label(for="hrate") Hash Rate (KH/s):
			td
				input(type="text", name="hrate")#hrate
	div.medium.primary.button
		a(href="#", onClick="calculateOmc()") Calculate
	hr
	table
		tr
			td
				label(for="cpd") OMC Per Day:
			td
				input(type="text", name="cpd", disabled)#cpd
		tr
			td
				label(for="cpm") OMC Per Month:
			td
				input(type="text", name="cpm", disabled)#cpm
		tr
			td
				label(for="cpy") OMC Per Year:
			td
				input(type="text", name="cpy", disabled)#cpy
